<!DOCTYPE html>
html(lang="en" ng-app="tweetstockr")
  head
    meta(charset="UTF-8")
    title Tweetstockr

    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    // bower:css
    // endbower
    link(rel="stylesheet" href="stylesheets/main.css")

  body
    navbar
    include ./components/subheader

    .container-fluid
      .content
        main(ng-view)

    // bower:js
    // endbower
    script(src="scripts/main.js")
