<!DOCTYPE html>
html(lang="en" ng-app="tweetstockr")
  head
    meta(charset="UTF-8")
    title Tweetstockr

    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="bower/chartist/dist/chartist.min.css")
    link(rel="stylesheet" href="bower/angular-ui-notification/dist/angular-ui-notification.min.css")
    link(rel="stylesheet" href="stylesheets/main.css")

  body
    navbar
    include ./components/subheader

    .container-fluid
      .content
        main(ng-view)

    script(src="bower/angular/angular.min.js")
    script(src="bower/angular-route/angular-route.min.js")
    script(src="bower/socket.io-client/socket.io.js")
    script(src="bower/chartist/dist/chartist.min.js")
    script(src="bower/angular-ui-notification/dist/angular-ui-notification.min.js")
    script(src="bower/angular-chartist.js/dist/angular-chartist.min.js")
    script(src="scripts/main.js")
