<!DOCTYPE html>
html(lang="en" ng-app="tweetstockr")
  head
    meta(charset="UTF-8")
    title Tweetstockr

    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")

  body
    include ./components/header
    include ./components/subheader

    .container-fluid
      .content
        main(ng-view)

    script(src="bower/socket.io-client/socket.io.js")
    script(src="bower/angular/angular.js")
    script(src="bower/angular-route/angular-route.js")
    script(src="bower/angular-chartist.js/dist/angular-chartist.js")
    script(src="scripts/main.js")