.tournament-info {
  padding: 25px 40px;
  background-color: $white;

  h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: $color-primary;
  }

  p {
    font-size: 20px;
    line-height: 25px;
    color: #999;
    font-weight: 300;
  }

  li {
    border: 1px solid $gray-light;
    padding: 10px;
    list-style: none;

    h4 {
      margin-bottom: 0;
    }
  }
}
