.navbar-registration {
  background-color: transparent;
}

.navbar-text {
  color: $white;
}

.nav__profile {
  color: $white;
  border: 1px solid $white;
  line-height: 1;
  padding: 12px 15px;
  border-radius: 3px;
  transition: .25s;

  &:hover {
    background-color: rgba($white, .25);
  }

  &:hover,
  &:focus {
    color: $white;
  }
}