@import "helpers/_variables";
@import "vendors/bootstrap/bootstrap";
@import "vendors/ui-notification/ui-notification";

@import "helpers/_responsive";
@import "helpers/_reset";
@import "helpers/_globals";
@import "helpers/_clearfix";

@import "components/header";
@import "components/subheader";
@import "components/loading";

@import "pages/ranking";
@import "pages/profile";
@import "pages/tournament";
@import "pages/wallet";
@import "pages/market";
@import "pages/shop";

.empty-state {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 30px;
  }
}

.ct-series-a {
  .ct-area {
    fill: $color-success;
  }

  .ct-line {
    stroke: $color-success;
  }

  .ct-point {
    stroke: $color-success;
  }
}

.ct-label {
  color: rgba($white, .4);
}
