@import "helpers/_variables";
@import "vendors/bootstrap/bootstrap";

@import "helpers/_responsive";
@import "helpers/_reset";

@import "components/header";
@import "components/subheader";

@import "pages/ranking";

body {
  background-color: $snow;
}

.icon {
  width: 20px;

  path {
    fill: $color-primary;
  }
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wallet-box {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba($black, .1);

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.wallet-content {
  border-right: 1px solid $gray-light;
  padding: 15px;
  height: 200px;

  &:hover {
    h2 {
      color: $color-primary;
      font-weight: 500;
    }
  }

  h2 {
    color: #ccc;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    transition: .15s ease-in-out;
  }

  h3 {
    text-align: center;
    font-size: 55px;
    color: $color-primary;
    font-weight: 500;
    margin-top: 30px;
  }

  &:last-child {
    border-right: 0;
  }
}

.transactions {
  margin-top: 50px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba($black, .1);
}

.transactions-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px;
  background-color: $color-primary;

  h1 {
    color: $white;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 25px;
  }
}

.transactions-table {
  width: 100%;
}

.transaction-item {
  height: 100px;
  border-bottom: 1px solid $gray-light;
  transition: .15s ease-in-out;

  &:hover {
    background-color: $gray-light;
  }
}

.transaction-info {
  padding-left: 20px;

  h2 {
    color: $color-primary;
    margin-bottom: 0;
  }

  span {
    color: #ccc;
  }
}

.transaction-value {
  text-align: right;
  padding-right: 20px;
  font-size: 25px;

  &.buy {
    color: $color-success;
  }

  &.sell {
    color: $color-danger;
  }
}






























.market {
  box-shadow: 0 1px 2px rgba($black, .1);
}

.market-header {
  background-color: $white;
  border-bottom: 1px solid $gray-light;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.market-tabs {
  float: left;

  li {
    display: inline-block;

    a {
      color: #999;
      display: block;
      padding: 30px;
      transition: .25s ease-in-out;

      &:hover {
        color: $color-primary;
      }

      &.is-active {
        border-bottom: 4px solid $color-primary;
        color: $color-primary;

        path {
          fill: $color-primary;
        }
      }
    }
  }
}

.tab-icon {
  display: inline-block;

  .icon {
    vertical-align: sub;
    margin-right: 10px;

    path {
      fill: #999;
    }
  }
}

.countdown {
  width: 60px;
  height: 60px;
  display: block;
  float: right;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  border: 4px solid #ddd;
  margin-right: 30px;
  margin-top: 15px;
  position: relative;

  span {
    font-size: 18px;
  }

  &:after {
    content: "";
    border: 4px solid $color-success;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
  }
}

.market-content {
  background-color: $white;
  width: 100%;
  display: block;
  padding: 30px;
}