@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/reset';

@import 'vendor/bootstrap/bootstrap';
@import 'vendor/chartist/chartist';

@import 'shared/navbar';
@import 'shared/footer';

@import 'pages/registration/page-registration';
@import 'pages/home/page-home';
@import 'pages/profile/page-profile';
@import 'pages/ranking/page-ranking';

body {
  background-color: #f7f7f7;
}

.ui-notification {
  border-radius: 3px;
}

.content {
  min-height: 100vh;
  padding-bottom: 50px;
}

.content-registration {
  background: url('https://cloud.githubusercontent.com/assets/6929565/10234658/1c30ca6c-6864-11e5-9f03-24a5dd61bdba.png') center center no-repeat;
  background-size: cover;
}