.header {
  height: 80px;
  background-color: $color-primary;
  line-height: 80px;

  .logo {
    width: 175px;

    @include breakpoint(tablet) {
      width: 250px;
    }
  }
}

.user {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  transition: .15s ease-in-out;
  display: none;

  &:hover {
    background-color: darken($color-primary, 2.5%);
  }

  @include breakpoint(desktop) {
    display: block;
  }

  span {
    color: $blue-baby;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.user-icon {
  width: 30px;

  path {
    fill: $blue-baby;
  }
}

.wallet-total {
  float: right;
  position: relative;
  padding-right: 0;

  @include breakpoint(tablet) {
    padding-right: 25px;
  }

  @include breakpoint(desktop) {
    &:after {
      content: '';
      height: 30px;
      width: 1px;
      background-color: $blue-baby;
      display: block;
      position: absolute;
      top: 25px;
      right: 0;
    }
  }

  span {
    color: $blue-baby;
  }
}

.dollar-icon {
  width: 25px;
  margin-top: 1px;
  margin-right: 5px;

  @include breakpoint(tablet) {
    width: 35px;
    margin-top: 7px;
    margin-right: 10px;
  }

  path {
    fill: $blue-baby;
  }
}

.tokens {
  display: none;

  @include breakpoint(tablet) {
    display: inline-block;
  }
}
