.share {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
}

.share-header {
  padding: 15px;
  border: 1px solid $gray-light;

  h2 {
    margin-bottom: 0;
    font-weight: 300;
    color: $color-primary;
    font-size: 16px;
  }
}

.share-body {
  border-right: 1px solid $gray-light;
  border-left: 1px solid $gray-light;
}

.share-footer {
  border-top: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-left: 1px solid $gray-light;

  .btn {
    border-radius: 0;
  }
}

.share-controls {
  li {
    display: inline-block;
    text-align: center;
    width: 25%;
    border-right: 1px solid $gray-light;
    min-height: 55px;

    &:last-child {
      border-right: 0;
    }

    span {
      color: $color-primary;
      font-weight: 500;
      font-size: 14px;
    }

    input {
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
    }

    label {
      display: block;
      margin-bottom: 0;
    }
  }
}