.subheader {
  background-color: $blue-light;
  height: 50px;
  line-height: 50px;

  ul {
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
}

.subheader-item {
  display: inline-block;

  a {
    display: block;
    margin-right: 50px;
    font-weight: 500;
    font-size: 15px;
  }

  span {
    font-size: 14px;
    margin-left: 10px;
    vertical-align: middle;
  }
}
