$min-width: "(min-width: 40.063em)";
$max-width: "(min-width: 64.063em)";

@mixin breakpoint($point) {
  $breakpoint-tablet: $min-width;
  $breakpoint-desktop: $max-width;

  @if $point == tablet {
    @media #{$breakpoint-tablet} { @content; }
  }

  @else if $point == desktop {
    @media #{$breakpoint-desktop} { @content; }
  }
}