$color-primary: #262B35;
$color-secondary: #fff;
$white: #fff;
$black: #000;
$yellow: #F4D35E;
$blue-baby: #5E677B;
$blue-light: #E8EFF0;
$snow: #F8FAF9;
$color-success: #43c8c0;
$color-danger: #f33155;
$gray-light: #f2f2f2;
