.container-fluid
  .row
    .col-xs-12

      h2 Welcome to Tweetstockr

      p Tweetstockr is an open source Trending Topics stock market game.
      p The more popular is the TT, the more points it is worth.
      p Rules are actually pretty simple: 
        ul 
          li Use your points to buy low; 
          li Sell high to get more points;


      h2 Current collaborators:

      p
       ul
        li 
          a(href="https://twitter.com/BuKinoshita" target="_blank") @BuKinoshita
        li 
          a(href="https://twitter.com/raphaelgmelo" target="_blank") @raphaelgmelo


      h2 Join us!

      p
        ul
          li
            a(href="https://github.com/tweetstockr/tweetstockr" target="_blank") Github project
          li
            a(href="https://twitter.com/tweetstockr" target="_blank") @tweetstockr
          li
            a(href="https://www.facebook.com/tweetstockr/" target="_blank") Facebook
