include ../shared/messages

section.slider(ng-init="getStocks()")
  ol
    li( ng-repeat="stock in stocks | orderBy : '-price' track by $index")
     | {{ stock.name }} - {{ stock.count }} pts

section.header(ng-show="currentUser")
  .header-bar
    .container-fluid
      .row
        .col-md-7
          .header-content
            img.header-content__image(src="{{ currentUser.picture }}", alt="", height="128", width="128")
            
            .header-info
              h2.header-info__name {{ currentUser.username }}
        
        .col-md-5(ng-show="currentUser")
          .header-wallet
            h3.header-wallet__title Wallet
            h2.header-wallet__total
              | {{ currentUser.points }} 
              small pts

.container-fluid
  .row
    section(class="commodities col-md-6")
      .row
        .col-md-10
          h2.commodities__title
            p Commodities - 
              small {{ stocksUpdatedAt | date: "h:mma" }}

          ul.commodities-list(ng-init="stock.amount = 1")
            li.commodities-item(
              ng-repeat="stock in stocks | orderBy: '-count' track by $index"
            )
              header.commodities-item-header(ng-click="info = !info")
                h2.commodities-item-header__title
                  | {{ stock.name }}

                span.commodities-item-header__price(ng-class="stock.lastMove")
                  | {{ stock.count }} pts | {{ stock.variation }} 
                  i.fa(ng-class="stock.icon")

              section.commodities-item-content(ng-if="info")
                form(
                  class="form-inline"
                  ng-submit="buyShare(stock)"
                )
                  fieldset.form-group
                    label Amount
                    input.form-control(type="number" min="1" max="10" ng-model="stock.amount")
                    
                  fieldset.form-group
                    label Price
                    h3 {{ stock.count }} 
                      small pts

                  fieldset.form-group
                    label Total
                    h3 {{ ( stock.amount || 1 ) * stock.count }} 
                      small pts

                  fieldset.form-group
                    button.btn.btn-primary
                      | Buy

                i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw(ng-if="!responseReceived" style="text-align: center; color: white; display: block; margin: 25px auto;")
                chartist(class="ct-chart ct-golden-section" chartist-data="stock.chartData" chartist-chart-type="Line" chartist-chart-options="chartOptions" chartist-responsive-options="barResponsiveOptions" ng-if="responseReceived")

    section(class="col-md-6" class="shares" ng-if="currentUser")
      h2.shares__title
        | My Shares

      ul
        li(class="share-item" ng-repeat="share in portfolio track by $index")
          header.share-item-header
            h2.share-item-header__title
              | {{share.stock}} 
              small x{{share.amount}}

            .pull-right
              button.btn.btn-sm.btn-success(ng-click="sellShare(share._id)")
                | Sell for {{share.currentPriceTotal}} pts
          
          .share-item-content
            .share-item-value.share-item-value--bordered
              label Purchase Value
              h3 {{share.purchasePrice}} pts

            .share-item-value
              label Current Value 
              h3 {{share.currentPrice}} pts
          
      div(ng-hide="!portfolio || portfolio.length")
        p.text-center There are currently no shares.
