.container-fluid
  section.ranking
    table.table.table-hover
      tbody
        tr(ng-repeat="user in ranking.users")
          td.ranking-position {{ $index + 1 | ordinal }}

          td.ranking-picture
            img(class="ranking-picture__image" ng-src="{{ user.twitter.profile_image }}")

          td.ranking-username
            a(href="https://twitter.com/{{ user.twitter.username }}" target="_blank" rel="nofollow")
              | @{{ user.twitter.username }}

          td.ranking-points
            | {{ user.points }} 
            small pts
