doctype html
html(ng-app='tweetstockr')
  head
    meta(charset='utf-8')
    title Tweetstockr
    base(href="/")

    link(rel="stylesheet" href="/css/main.css")

  body
    
    block content

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-cookies.min.js")
    script(type="text/javascript", src="/js/app.js")
    script(type="text/javascript", src="/js/services/Auth.js")
    script(type="text/javascript", src="/js/services/User.js")
