@import 'molecules/molecule-home';
@import 'atoms/atom-home';

@include keyframes(slider) {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-145%);
  }
}

.commodities-item {
  margin-bottom: 5px;
  overflow: hidden;
  background-color: #373f4e;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba($black, .1);
}

.commodities-item-header {
  padding: 7px 10px;
  cursor: pointer;
  background-color: $color-secondary;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

.commodities-item-header__title {
  float: left;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  color: $white;
}

.commodities-item-header__price {
  float: right;
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin-top: 2px;
  font-weight: 400;
  line-height: 30px;
  color: $white;
  text-align: center;
  border-radius: 2px;
  background-color: #57e07e;

  &.success {
    background-color: #57e07e;
  }

  &.danger {
    background-color: #ff5964;
  }
}

.commodities-item-content {
  padding: 15px;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }

  .form-inline {
    &:before,
    &:after {
      display: table;
      content: '';
    }

    &:after {
      clear: both;
    }
  }

  .form-group {
    width: 90px;
    margin-right: 25px;
    float: left;

    &:last-child {
      float: right;
      margin-top: 20px;
      margin-right: 0;
      width: auto;
    }
  }

  label {
    display: block;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }

  .form-control {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
  }

  h3 {
    color: $white;
    text-align: center;

    small {
      font-size: 12px;
    }
  }
}

.share-item {
  background-color: #373f4e;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba($black, .1);
}

.share-item-header {
  padding: 7px 10px;
  background-color: $color-secondary;

  &:before,
  &:after {
    display: table;

    content: '';
  }

  &:after {
    clear: both;
  }
}

.share-item-header__title {
  color: $white;
  float: left;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;

  small {
    font-weight: 500;
  }
}

.share-item-content {
  padding: 15px;

  &:before,
  &:after {
    display: table;

    content: '';
  }

  &:after {
    clear: both;
  }
}

.share-item-value {
  float: left;
  width: 50%;
  padding-left: 30px;

  &.share-item-value--bordered {
    border-right: 1px solid rgba($white, .25);
  }

  label {
    color: $white;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
  }

  h3 {
    color: $white;
    font-size: 35px;
  }
}