svg(class="dashboard-icon icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 503.558 503.558" style="enable-background:new 0 0 503.558 503.558;" xml:space="preserve")
  g
    g
      g(id="XMLID_43_")
        path(d="M388.07,493.964H115.488c-26.724,0-48.103-21.379-48.103-48.103V278.037h-40.62 c-10.689,0-20.31-6.414-24.586-16.034c-4.276-9.621-2.138-21.379,5.345-28.862l63.068-63.068L217.038,23.626 c19.241-19.241,49.172-18.172,68.413,0L496.034,234.21c7.483,7.483,9.621,19.241,5.345,28.862 c-3.207,8.552-12.827,14.965-23.517,14.965h-40.62v167.825C436.173,472.585,414.794,493.964,388.07,493.964z M39.592,245.968 h43.827c8.552,0,16.034,7.483,16.034,16.034v183.859c0,8.552,7.483,16.034,16.034,16.034H388.07 c8.552,0,16.034-7.483,16.034-16.034V262.002c0-8.552,7.483-16.034,16.034-16.034h43.827L263.003,45.006 c-6.414-6.414-16.034-6.414-22.448,0L39.592,245.968z")
      
      path(d="M311.106,493.964H193.521c-8.552,0-16.034-7.483-16.034-16.034V317.588 c0-8.552,7.483-16.034,16.034-16.034h117.584c8.552,0,16.034,7.483,16.034,16.034V477.93 C327.14,486.482,319.657,493.964,311.106,493.964z M209.555,461.896h85.516V333.622h-85.516V461.896z")