svg(width="169px" height="176px" viewBox="0 0 169 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
  defs
    filter(x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1")
      feOffset(dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1")
      feGaussianBlur(stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1")
      feColorMatrix(values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1")
      feMerge
        feMergeNode(in="shadowMatrixOuter1")
        feMergeNode(in="SourceGraphic")
  
  g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
    g(id="Mobile-Landscape" sketch:type="MSArtboardGroup" transform="translate(-204.000000, -50.000000)")
      g(id="empty-state-portfolio" sketch:type="MSLayerGroup" transform="translate(193.000000, 25.000000)")
        rect(id="Rectangle-6" sketch:type="MSShapeGroup" x="0" y="0" width="200" height="200")

        g(transform="translate(12.000000, 3.000000)")
          rect(id="Rectangle-1" fill="#E8EFF0" filter="url(#filter-1)" sketch:type="MSShapeGroup" transform="translate(74.500000, 114.000000) rotate(-358.000000) translate(-74.500000, -114.000000) " x="12" y="44" width="125" height="140" rx="3")

          g(id="Group-3" transform="translate(74.500000, 114.000000) rotate(-10.000000) translate(-74.500000, -114.000000) translate(12.000000, 44.000000)" sketch:type="MSShapeGroup")
            rect(id="Rectangle-1" fill="#F8FAF9" x="0" y="4.26325641e-14" width="125" height="140" rx="3")

            circle(id="Oval-1" fill="#262B35" cx="63" cy="45" r="30")

            g(id="Group" transform="translate(13.000000, 95.000000)" fill="#E9E9E9")
              rect(id="Rectangle-2" x="13" y="0" width="75" height="4")
              rect(id="Rectangle-2-Copy" x="0" y="8" width="100" height="4")
              rect(id="Rectangle-2-Copy-2" x="8" y="16" width="85" height="4")

            g(id="Group-2" transform="translate(38.000000, 19.000000)")
              path(d="M0,42 L22,28 L32,36 L58,12" id="Path-1" stroke="#43C8C0" stroke-width="4")
              polygon(id="Triangle-1" fill="#43C8C0" transform="translate(61.459308, 8.508670) rotate(46.000000) translate(-61.459308, -8.508670) " points="61.4593076 3.50867045 68.4593076 13.5086705 54.4593076 13.5086705 ")
          
          text(id="!" sketch:type="MSTextLayer" transform="translate(157.996193, 44.981199) rotate(-350.000000) translate(-157.996193, -44.981199) " font-family="Open Sans" font-size="65" font-weight="bold" sketch:alignment="middle" fill="#262B35")
            tspan(x="148.696877" y="69.9811988") !
