svg(class="icon shares-icon" iconversion="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 376.27 376.27" style="enable-background:new 0 0 376.27 376.27;" xml:space="preserve")
  g
    g
      g
        path(d="M328.168,376.27h-74.826c-26.724,0-48.103-21.379-48.103-48.103v-74.826 c0-26.724,21.379-48.103,48.103-48.103h74.826c26.724,0,48.103,21.379,48.103,48.103v74.826 C376.27,354.891,354.891,376.27,328.168,376.27z M253.341,237.307c-8.552,0-16.034,7.483-16.034,16.034v74.826 c0,8.552,7.483,16.034,16.034,16.034h74.826c8.552,0,16.034-7.483,16.034-16.034v-74.826c0-8.552-7.483-16.034-16.034-16.034 H253.341z")
        path(d="M122.929,171.032H48.103C21.379,171.032,0,149.653,0,122.929V48.103C0,21.379,21.379,0,48.103,0 h74.826c26.724,0,48.103,21.379,48.103,48.103v74.826C171.032,149.653,149.653,171.032,122.929,171.032z M48.103,32.069 c-8.552,0-16.034,7.483-16.034,16.034v74.826c0,8.552,7.483,16.034,16.034,16.034h74.826c8.552,0,16.034-7.483,16.034-16.034 V48.103c0-8.552-7.483-16.034-16.034-16.034H48.103z")

      g
        path(d="M122.929,376.27H48.103C21.379,376.27,0,354.891,0,328.168v-74.826 c0-26.724,21.379-48.103,48.103-48.103h74.826c26.724,0,48.103,21.379,48.103,48.103v74.826 C171.032,354.891,149.653,376.27,122.929,376.27z M48.103,237.307c-8.552,0-16.034,7.483-16.034,16.034v74.826 c0,8.552,7.483,16.034,16.034,16.034h74.826c8.552,0,16.034-7.483,16.034-16.034v-74.826c0-8.552-7.483-16.034-16.034-16.034 H48.103z")
        path(d="M328.168,171.032h-74.826c-26.724,0-48.103-21.379-48.103-48.103V48.103 C205.238,21.379,226.617,0,253.341,0h74.826c26.724,0,48.103,21.379,48.103,48.103v74.826 C376.27,149.653,354.891,171.032,328.168,171.032z M253.341,32.069c-8.552,0-16.034,7.483-16.034,16.034v74.826 c0,8.552,7.483,16.034,16.034,16.034h74.826c8.552,0,16.034-7.483,16.034-16.034V48.103c0-8.552-7.483-16.034-16.034-16.034 H253.341z")