svg(class="shop-icon icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 413.131 413.131" style="enable-background:new 0 0 413.131 413.131;" xml:space="preserve")
  g
    g
      path(d="M103.67,281.65c-8.552,0-16.034-7.483-16.034-16.034V58.239L39.533,30.447 C32.05,26.171,28.843,16.55,34.188,7.999c4.276-7.483,13.896-10.689,22.448-5.345l56.654,33.137 c5.345,3.207,7.483,8.552,7.483,13.896v215.928C119.704,274.167,112.221,281.65,103.67,281.65z")
      path(d="M365.562,289.133H103.67c-8.552,0-16.034-7.483-16.034-16.034V99.928 c0-5.345,2.138-9.621,6.414-12.827c3.207-3.207,8.552-4.276,12.827-3.207l261.893,53.447c7.483,1.069,12.827,8.552,12.827,16.034 v119.722C381.597,281.65,374.114,289.133,365.562,289.133z M119.704,257.064h229.824v-90.861L119.704,119.17V257.064z")
      path(d="M134.669,413.131c-25.655,0-45.965-20.31-45.965-45.965c0-25.655,20.31-45.965,45.965-45.965 s45.965,20.31,45.965,45.965C181.703,391.752,160.324,413.131,134.669,413.131z M134.669,352.201 c-7.483,0-13.896,6.414-13.896,13.896c0,7.483,6.414,13.896,13.896,13.896c7.483,0,13.896-6.414,13.896-13.896 C149.635,358.614,143.221,352.201,134.669,352.201z")
      path(d="M324.942,413.131c-25.655,0-45.965-20.31-45.965-45.965c0-25.655,20.31-45.965,45.965-45.965 s45.965,20.31,45.965,45.965C370.907,391.752,350.597,413.131,324.942,413.131z M324.942,352.201 c-7.483,0-13.896,6.414-13.896,13.896c0,7.483,6.414,13.896,13.896,13.896c7.483,0,13.896-6.414,13.896-13.896 C338.839,358.614,332.425,352.201,324.942,352.201z")
      path(d="M240.495,383.2h-21.379c-8.552,0-16.034-7.483-16.034-16.034c0-8.552,7.483-16.034,16.034-16.034 h21.379c8.552,0,16.034,7.483,16.034,16.034C256.53,375.718,249.047,383.2,240.495,383.2z")
  