svg(class="tournament-info-icon" width="467px" viewBox="0 0 467 471" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
  g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
    g(sketch:type="MSArtboardGroup" transform="translate(-117.000000, -115.000000)")
      g(id="tournament" sketch:type="MSLayerGroup" transform="translate(90.000000, 90.000000)")
        rect(id="Rectangle-18" fill-opacity="0" fill="#D8D8D8" sketch:type="MSShapeGroup" x="0" y="0" width="520" height="520")

        g(transform="translate(27.000000, 25.000000)" sketch:type="MSShapeGroup")
          circle(id="Oval-13" fill="#FFFFFF" cx="233.5" cy="237.5" r="233.5")

          g(id="trophy" transform="translate(83.000000, 97.000000)")
            path(d="M133,195 L133,259.031242 L85.9900171,259.031242 L80,270 L80,294 L219.057542,294 L221,267 L209.598246,255.598246 L172,259 L166,241 L166,194.989132 L133,195 Z" id="Path-8" fill="#FFB900")
            path(d="M7,41 L293,41 L284,87 L246,141 L236,147 L55,140 L29,117 L9,64 L7,41 Z" id="Path-9" fill="#FFB900")
            path(d="M55,7 L55,111 L57,132 L72,159 L95,182 L143,198 L181,192 L207,181 L230,155 L242,131 L248,46 L245,5 L55,7 Z" id="Path-7" fill="#FFDA00")
            path(d="M299.670703,40.5580078 C299.688867,37.2439453 297.290625,34.8544922 294.351562,34.8357422 L250.918945,34.8357422 L250.918945,5.34667969 C250.90957,2.39882813 248.520117,0 245.572266,0 L54.1171875,0 C51.178125,0 48.7798828,2.39882813 48.7705078,5.34667969 L48.7705078,34.8357422 L5.32851562,34.8357422 C2.39882813,34.8539063 0,37.2433594 0,40.1730469 C2.9390625,85.7478516 25.8820312,126.763477 62.9607422,153.084961 L63.8759766,154.046484 C77.7005859,176.330273 99.20625,192.1875 124.447266,198.678516 L126.965039,199.32832 L126.965039,254.571094 L88.8697266,254.571094 C81.1335937,254.571094 74.8347656,260.869922 74.8347656,268.597266 L74.8347656,289.324805 L62.7867187,289.324805 C59.8476562,289.324805 57.4494141,291.723633 57.4494141,294.662109 C57.4494141,297.600586 59.8482422,299.999414 62.7867187,299.999414 L236.892773,299.999414 C239.840625,299.999414 242.239453,297.600586 242.239453,294.662109 C242.239453,291.723633 239.840625,289.324805 236.892773,289.324805 L224.853516,289.324805 L224.853516,268.597266 C224.853516,260.869922 218.554687,254.571094 210.827344,254.571094 L172.713867,254.571094 L172.713867,199.32832 L175.231641,198.678516 C200.472656,192.1875 221.987695,176.330273 235.812305,154.046484 L236.727539,153.084961 C273.797461,126.764063 296.741016,85.7484375 299.670703,40.5580078 L299.670703,40.5580078 Z M44.6320312,122.223047 C34.9001953,111.062695 27.0539062,98.5107422 21.3046875,84.9246094 C16.4982422,73.5539063 13.2298828,61.5603516 11.6003906,49.2925781 L11.0970703,45.5021484 L48.7710937,45.5021484 L48.7710937,100.92832 C48.7710937,107.135742 49.3388672,113.361328 50.4556641,119.403516 L52.6804687,131.451563 L44.6320312,122.223047 L44.6320312,122.223047 Z M214.17832,265.246875 L214.17832,289.325391 L85.5193359,289.325391 L85.5193359,265.246875 L214.17832,265.246875 L214.17832,265.246875 Z M137.649609,254.57168 L137.649609,201.196289 L141.28418,201.507422 C147.116016,202.001953 153.13125,201.946875 158.413477,201.507422 L162.039258,201.196289 L162.039258,254.57168 L137.649609,254.57168 L137.649609,254.57168 Z M240.252539,100.927734 C240.252539,113.104102 237.872461,124.923633 233.166211,136.06582 C228.607031,146.814258 222.097266,156.463477 213.812109,164.749219 C205.526367,173.04375 195.867773,179.553516 185.128711,184.10332 C174.023438,188.800195 162.203906,191.180273 149.990625,191.180273 C137.49375,191.180273 125.664844,188.800195 114.55957,184.10332 C103.820508,179.55293 94.1619141,173.04375 85.8761719,164.749219 C77.5998047,156.482227 71.090625,146.832422 66.5220703,136.06582 C61.8164063,124.923633 59.4357422,113.104102 59.4357422,100.927734 L59.4357422,10.6933594 L240.252539,10.6933594 L240.252539,100.927734 L240.252539,100.927734 Z M247.00957,131.451562 L249.234375,119.403516 C250.351172,113.361328 250.918945,107.135156 250.918945,100.92832 L250.918945,45.5015625 L288.592969,45.5015625 L288.089648,49.2919922 C286.460156,61.5603516 283.191797,73.5533203 278.385352,84.9240234 C272.636133,98.5107422 264.789844,111.062109 255.058008,122.222461 L247.00957,131.451562 L247.00957,131.451562 Z" id="Shape" fill="#000000")
          
          g(id="sparkles" transform="translate(25.000000, 0.000000)" fill="#FDF1AB")
            g(id="Group-2" transform="translate(402.656854, 110.041631) rotate(-315.000000) translate(-402.656854, -110.041631) translate(385.656854, 93.041631)")
              rect(id="Rectangle-1" x="14" y="0" width="6" height="34" rx="8")
              rect(id="Rectangle-1" transform="translate(17.000000, 17.000000) rotate(-270.000000) translate(-17.000000, -17.000000) " x="14" y="0" width="6" height="34" rx="8")
            
            g(id="Group-2" transform="translate(334.041631, 338.041631) rotate(-315.000000) translate(-334.041631, -338.041631) translate(317.041631, 321.041631)")
              rect(id="Rectangle-1" x="14" y="0" width="6" height="34" rx="8")
              rect(id="Rectangle-1" transform="translate(17.000000, 17.000000) rotate(-270.000000) translate(-17.000000, -17.000000) " x="14" y="0" width="6" height="34" rx="8")
            
            g(id="Group-2" transform="translate(334.041631, 44.041631) rotate(-315.000000) translate(-334.041631, -44.041631) translate(317.041631, 27.041631)")
              rect(id="Rectangle-1" x="14" y="0" width="6" height="34" rx="8")
              rect(id="Rectangle-1" transform="translate(17.000000, 17.000000) rotate(-270.000000) translate(-17.000000, -17.000000) " x="14" y="0" width="6" height="34" rx="8")
            
            g(id="Group-2" transform="translate(194.142136, 30.142136) rotate(-315.000000) translate(-194.142136, -30.142136) translate(184.142136, 20.142136)")
              rect(id="Rectangle-1" x="8.23529412" y="0" width="3.52941176" height="20" rx="8")
              path(d="M18.2339068,8.23529412 C19.2092931,8.23529412 20,9.02736301 20,10 L20,10 C20,10.9746201 19.2098162,11.7647059 18.2339068,11.7647059 L1.76609319,11.7647059 C0.790706855,11.7647059 0,10.972637 0,10 L0,10 C0,9.02537985 0.790183782,8.23529412 1.76609319,8.23529412 L18.2339068,8.23529412 L18.2339068,8.23529412 Z" id="Rectangle-1")
            
            g(id="Group-2" transform="translate(388.142136, 172.142136) rotate(-315.000000) translate(-388.142136, -172.142136) translate(378.142136, 162.142136)")
              rect(id="Rectangle-1" x="8.23529412" y="0" width="3.52941176" height="20" rx="8")
              path(d="M18.2339068,8.23529412 C19.2092931,8.23529412 20,9.02736301 20,10 L20,10 C20,10.9746201 19.2098162,11.7647059 18.2339068,11.7647059 L1.76609319,11.7647059 C0.790706855,11.7647059 0,10.972637 0,10 L0,10 C0,9.02537985 0.790183782,8.23529412 1.76609319,8.23529412 L18.2339068,8.23529412 L18.2339068,8.23529412 Z" id="Rectangle-1")
            
            g(id="Group-2" transform="translate(58.142136, 324.142136) rotate(-315.000000) translate(-58.142136, -324.142136) translate(48.142136, 314.142136)")
              rect(id="Rectangle-1" x="8.23529412" y="0" width="3.52941176" height="20" rx="8")
              path(d="M18.2339068,8.23529412 C19.2092931,8.23529412 20,9.02736301 20,10 L20,10 C20,10.9746201 19.2098162,11.7647059 18.2339068,11.7647059 L1.76609319,11.7647059 C0.790706855,11.7647059 0,10.972637 0,10 L0,10 C0,9.02537985 0.790183782,8.23529412 1.76609319,8.23529412 L18.2339068,8.23529412 L18.2339068,8.23529412 Z" id="Rectangle-1")
            
            g(id="Group-2" transform="translate(106.041631, 44.041631) rotate(-315.000000) translate(-106.041631, -44.041631) translate(89.041631, 27.041631)")
              rect(id="Rectangle-1" x="14" y="0" width="6" height="34" rx="8")
              rect(id="Rectangle-1" transform="translate(17.000000, 17.000000) rotate(-270.000000) translate(-17.000000, -17.000000) " x="14" y="0" width="6" height="34" rx="8")
            
            g(id="Group-2" transform="translate(26.041631, 158.041631) rotate(-315.000000) translate(-26.041631, -158.041631) translate(9.041631, 141.041631)")
              rect(id="Rectangle-1" x="14" y="0" width="6" height="34" rx="8")
              rect(id="Rectangle-1" transform="translate(17.000000, 17.000000) rotate(-270.000000) translate(-17.000000, -17.000000) " x="14" y="0" width="6" height="34" rx="8")
            
            g(id="Group-2" transform="translate(19.000000, 86.000000) rotate(-315.000000) translate(-19.000000, -86.000000) translate(6.000000, 73.000000)")
              rect(id="Rectangle-1" x="10.7058824" y="0" width="4.58823529" height="26" rx="8")
              path(d="M23.7040789,10.7058824 C24.9720811,10.7058824 26,11.7355719 26,13 L26,13 C26,14.2670062 24.9727611,15.2941176 23.7040789,15.2941176 L2.29592115,15.2941176 C1.02791891,15.2941176 0,14.2644281 0,13 L0,13 C0,11.7329938 1.02723892,10.7058824 2.29592115,10.7058824 L23.7040789,10.7058824 L23.7040789,10.7058824 Z" id="Rectangle-1")
            
            g(id="Group-2" transform="translate(72.384776, 257.384776) rotate(-315.000000) translate(-72.384776, -257.384776) translate(59.384776, 244.384776)")
              rect(id="Rectangle-1" x="10.7058824" y="0" width="4.58823529" height="26" rx="8")
              path(d="M23.7040789,10.7058824 C24.9720811,10.7058824 26,11.7355719 26,13 L26,13 C26,14.2670062 24.9727611,15.2941176 23.7040789,15.2941176 L2.29592115,15.2941176 C1.02791891,15.2941176 0,14.2644281 0,13 L0,13 C0,11.7329938 1.02723892,10.7058824 2.29592115,10.7058824 L23.7040789,10.7058824 L23.7040789,10.7058824 Z" id="Rectangle-1")
            
            g(id="Group-2" transform="translate(270.041631, 66.041631) rotate(-315.000000) translate(-270.041631, -66.041631) translate(260.041631, 56.041631)")
              rect(id="Rectangle-1" x="8.23529412" y="0" width="3.52941176" height="20" rx="8")
              path(d="M18.2339068,8.23529412 C19.2092931,8.23529412 20,9.02736301 20,10 L20,10 C20,10.9746201 19.2098162,11.7647059 18.2339068,11.7647059 L1.76609319,11.7647059 C0.790706855,11.7647059 0,10.972637 0,10 L0,10 C0,9.02537985 0.790183782,8.23529412 1.76609319,8.23529412 L18.2339068,8.23529412 L18.2339068,8.23529412 Z" id="Rectangle-1")
            
            g(id="Group-2" transform="translate(348.142136, 247.142136) rotate(-315.000000) translate(-348.142136, -247.142136) translate(338.142136, 237.142136)")
              rect(id="Rectangle-1" x="8.23529412" y="0" width="3.52941176" height="20" rx="8")
              path(d="M18.2339068,8.23529412 C19.2092931,8.23529412 20,9.02736301 20,10 L20,10 C20,10.9746201 19.2098162,11.7647059 18.2339068,11.7647059 L1.76609319,11.7647059 C0.790706855,11.7647059 0,10.972637 0,10 L0,10 C0,9.02537985 0.790183782,8.23529412 1.76609319,8.23529412 L18.2339068,8.23529412 L18.2339068,8.23529412 Z" id="Rectangle-1")
            
            g(id="Group-3" transform="translate(17.000000, 0.000000)")
              circle(id="Oval-1" cx="20" cy="31" r="11")
              circle(id="Oval-1" cx="160" cy="71" r="11")
              circle(id="Oval-1" cx="304" cy="282" r="11")
              circle(id="Oval-1" cx="11" cy="226" r="11")
              circle(id="Oval-1" cx="90" cy="299" r="11")
              circle(id="Oval-1" cx="60" cy="90" r="6")
              circle(id="Oval-1" cx="15" cy="282" r="6")
              circle(id="Oval-1" cx="341" cy="206" r="6")
              circle(id="Oval-1" cx="357" cy="299" r="6")
              circle(id="Oval-1" cx="258" cy="9" r="9")
              circle(id="Oval-1" cx="380" cy="238" r="9")
              circle(id="Oval-1" cx="315" cy="95" r="7")
