svg(class="tournament-icon icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 487.441 487.441" style="enable-background:new 0 0 487.441 487.441;" xml:space="preserve")
  g
    g
      path(d="M319.616,423.839H167.825c-8.552,0-16.034-7.483-16.034-16.034c0-50.241,41.689-91.93,91.93-91.93 s91.93,41.689,91.93,91.93C335.65,416.356,328.168,423.839,319.616,423.839z M185.997,391.77h115.447 c-7.483-25.655-29.931-43.827-57.723-43.827C215.928,347.943,193.48,366.115,185.997,391.77z")
      
      g
        path(d="M243.721,341.529c-91.93,0-165.687-74.826-165.687-165.687V30.465 c0-8.552,7.483-16.034,16.034-16.034h300.375c8.552,0,16.034,7.483,16.034,16.034v144.308 C409.408,266.703,335.65,341.529,243.721,341.529z M110.102,46.499v128.274c0,73.758,59.861,133.619,133.619,133.619 s133.619-59.861,133.619-133.619V46.499H110.102z")
        path(d="M87.654,225.014C39.551,225.014,0,185.463,0,137.36s39.551-87.654,87.654-87.654 c8.552,0,16.034,7.483,16.034,16.034s-7.483,16.034-16.034,16.034c-31,0-55.585,24.586-55.585,55.585 s24.586,55.585,55.585,55.585c8.552,0,16.034,7.483,16.034,16.034C103.688,218.6,97.274,225.014,87.654,225.014z")
        path(d="M399.787,225.014c-8.552,0-16.034-7.483-16.034-16.034s7.483-16.034,16.034-16.034 c31,0,55.585-24.586,55.585-55.585s-25.655-54.516-55.585-54.516c-8.552,0-16.034-7.483-16.034-16.034 s7.483-16.034,16.034-16.034c48.103,0,87.654,39.551,87.654,87.654S447.89,225.014,399.787,225.014z")

      path(d="M351.684,473.01H135.757c-8.552,0-16.034-7.483-16.034-16.034c0-8.552,7.483-16.034,16.034-16.034 h215.928c8.552,0,16.034,7.483,16.034,16.034C367.719,465.528,361.305,473.01,351.684,473.01z")