svg(class="wallet-icon icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.859 477.859" style="enable-background:new 0 0 477.859 477.859;" xml:space="preserve")
  g
    g
      path(d="M430.787,409.961H48.103C21.379,409.961,0,388.582,0,361.859V116 c0-26.724,21.379-48.103,48.103-48.103h381.615c26.724,0,48.103,21.379,48.103,48.103v246.927 C478.889,388.582,457.51,409.961,430.787,409.961z M48.103,99.966c-8.552,0-16.034,7.483-16.034,16.034v246.927 c0,8.552,7.483,16.034,16.034,16.034h381.615c8.552,0,16.034-7.483,16.034-16.034V116c0-8.552-7.483-16.034-16.034-16.034H48.103z ")
      rect(x="16.034" y="142.724" style="fill:#231F20;" width="445.752" height="59.861")
      circle(cx="369.857" cy="310.549" r="35.275")
      circle(cx="322.823" cy="310.549" r="35.275")
      path(d="M180.653,253.895H76.964c-3.207,0-5.345-2.138-5.345-5.345c0-3.207,2.138-5.345,5.345-5.345 h103.688c3.207,0,5.345,2.138,5.345,5.345C185.997,250.688,183.859,253.895,180.653,253.895z")