section.market
  header.market-header
    ul.market-tabs
      li(ng-repeat="tab in tabs" ng-class="{ active:isActiveTab(tab.url) }" ng-click="onClickTab(tab)")
        a(href="" ng-class="{'is-active': isActiveTab(tab.url)}")
          .tab-icon(ng-include="tab.icon")
          | {{ tab.title }}

    span.countdown
      span 35

  .market-content
    .row
      div(ng-include="currentTab")