.row
  .col-md-7
    .profile
      .profile-title
        h2 Profile Information

      .profile-content
        img(ng-src="{{ user_photo }}", alt="")
            
        h2
          a(ng-href="http://www.twitter.com/{{ user_name }}")
            | @{{ user_name }}

        h3
          strong Rank: 
          | 79th

        button.btn.btn-primary(ng-click="resetAccount()")
          | Reset Account

  .col-md-5
    .profile
      .profile-title
        h2 Redeem Tickets
