.row
  .col-md-7
    .profile
      .profile-title
        h2 Profile Information

      .profile-content
      
        div
          | Profile: {{ thisIsTheProfile }}
      
        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/nuraika/128.jpg", alt="")
            
        h2
          a(href="") @nuraika

        h3
          strong Rank: 
          | 79th

        h3 nuraika@gmail.com

        button.btn.btn-primary
          | Reset Account

  .col-md-5
    .profile
      .profile-title
        h2 Redeem Tickets
