.row
  .col-md-7
    .profile
      .profile-title
        h2 Profile Information

      .profile-content
        img(ng-src="{{ profile_image }}", alt="username")
            
        h2
          a(ng-href="http://www.twitter.com/{{ twitter_user }}")
            | @{{ twitter_user }}

        h2
          strong
            | {{ balance }} pts
          
        h3
          strong Rank: 
          | {{ ranking }}th

        button.btn.btn-primary(ng-click="resetAccount()")
          | Reset Account

  .col-md-5
    .profile
      .profile-title
        h2 Redeem Tickets
