.row
  .col-md-7
    .profile
      .profile-title
        h2 Profile Information

      .profile-content
        img(ng-src="{{ profileImage }}", alt="username")
            
        h2
          a(ng-href="http://www.twitter.com/{{ twitterUser }}")
            | @{{ twitterUser }}

        h2
          strong
            | {{ balance }} pts
          
        h3
          strong Rank: 
          | {{ ranking }}th

        button.btn.btn-primary(ng-click="resetAccount()")
          | Reset Account

  .col-md-5
    .profile
      .profile-title
        h2 Joysticket Integration
        
      br
      | Log in with your Joysticket account and redeem your pts for real rewards!
      
      br
      br
      
      button.btn.btn-primary(ng-click="joysticketLogin()")
        | Joysticket Login
      
      br
      br
