include ./../components/loading

.ranking(ng-show="loading")
  h1 Leaderboard

  ul
    li.ranking-item(ng-repeat="item in rankingList | orderBy: '-balance'" ng-class="{me: twitterUser == item.user.twitter.username }")
      .ranking-info
        span.ranking-position 0{{ $index + 1 }}.
        img(class="ranking-photo" ng-src="{{ item.user.twitter.profile_image }}", alt="{{ item.user.twitter.displayName }}")
        span.ranking-username 
          a(href="https://twitter.com/{{ item.user.twitter.username }}", target="_blank")
            | {{ item.user.twitter.displayName }}

      span.ranking-points {{ item.balance }}
