.row
  ul
    li.col-md-4
      header.shop.shop-100
      section.shop-content
        button.btn.btn-primary.btn-block
          include ./../icons/ticket-icon
          | 50 Tokens

    li.col-md-4
      header.shop.shop-300
      section.shop-content
        button.btn.btn-primary.btn-block
          include ./../icons/ticket-icon
          | 300 Tokens

    li.col-md-4
      header.shop.shop-500
      section.shop-content
        button.btn.btn-primary.btn-block
          include ./../icons/ticket-icon
          | 500 Tokens
