.tournament
  .row
    .col-md-4.tournament-info
      h2  Lorem ipsum dolor sit amet, consectetur elit voluptates nihil velit.
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      
      h3 Prizes:

      ul
        li
          h4 300 Tickets

    .col-md-8.tournament-photo(style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/I3DPN03T4N.jpg')")