.tournament
  .row
    .col-md-4(ng-repeat="item in tournamentsList | orderBy: 'dateStart'")
      .tournament-info
        h2  {{ item.name }}
        p  Date Start: {{ item.dateStart }}
        p  Date End: {{ item.dateEnd }}
        
        h3 Players:

        ul
          li(ng-repeat="player in item.players | orderBy: '-points'")
            h4 {{ player.user }}:{{ player.points }}
            
        h3 Rewards:

        ul
          li(ng-repeat="reward in item.rewards | orderBy: '-place'")
            h4 {{ reward.place + 1 }}th : {{ reward.tokens }} Tokens
