.tournament
  .row
    .col-md-6(ng-repeat="item in tournamentsList | orderBy: 'dateStart'")
      .tournament-card
        header.tournament-card-header
          h2.tournament-card-header__title
            | {{ item.name }}
          
          label.tournament-card-header__date
            strong Start: 
            | {{ item.dateStart | date: 'MMMM dd, yyyy' }}
          
          label.tournament-card-header__date
            strong End: 
            | {{ item.dateEnd | date: 'MMMM dd, yyyy' }}
          
        section.tournament-card-players
          h3(ng-show="item.players.length" class="tournament-card-players__title")
            | Players:
            
          h3(ng-show="!item.players.length" class="tournament-card-players__title--noplayer")
            | No players yet

          ul
            li(class="tournament-card-players-item" ng-repeat="player in item.players | orderBy: '-points'" ng-hide="player.length === 0")
              img(class="tournament-card-players__image" ng-src="{{ player.user.profile_image }}", alt="")
            
        footer.tournament-card-rewards
          ul
            li(class="tournament-card-rewards__item" ng-repeat="reward in item.rewards | orderBy: 'place'")
              h5.tournament-card-rewards__subtitle
                | {{ reward.place | ordinal }} place
              
              h4.tournament-card-rewards__title
                | {{ reward.tokens }} Tokens

              
