include ./../components/loading

.wallet-box(ng-show="loading")
  .col-md-4.wallet-content
    h2 Amount Points
    h3 {{ balance | number }} pts

  .col-md-4.wallet-content
    h2 Total Spent
    h3 {{ stats.totalPurchases | number }} pts

  .col-md-4.wallet-content
    h2 Total Earned
    h3 {{ stats.totalSells | number }} pts


section.transactions(ng-show="loading")
  header.transactions-header
    h1 Transactions

  style.
    .inactive h2 {
      text-decoration:line-through;
    }

  table.transactions-table
    tr.transaction-item(ng-repeat="transaction in transactionList | orderBy: '-created_at'",
                        ng-class="{'inactive':!transaction.active}")
      td.transaction-info
        h2 {{ transaction.stock }} (x{{ transaction.amount }})
        span {{ transaction.created_at | date: "MMMM d, y 'at' h:mma"}}


      td.transaction-value(ng-class="{'sell': transaction.type=='Sell', 'buy': transaction.type=='Buy' }")
        span(ng-show="transaction.type=='Buy'") -
        span(ng-show=" transaction.type=='Sell'") +
        | {{ transaction.price * transaction.amount | number }} pts
