.row
  .wallet-box
    .col-md-4.wallet-content
      h2 Amount Points
      h3 3087 pts

    .col-md-4.wallet-content
      h2 Total Spent
      h3 7819 pts

    .col-md-4.wallet-content
      h2 Total Earned
      h3 18039 pts