header.header
  .container-fluid
    a(href="/")
      include ./../icons/logo
    
    a(href="#/profile" class="user")
      include ./../icons/user-icon
      span {{ username }}
    
    span.wallet-total
      include ./../icons/dollar-icon
      span 3400 pts