header.header
  .container-fluid
    a(href="/")
      include ./../icons/logo
    
    a(href="#/profile" class="user" ng-show="username")
      include ./../icons/user-icon
      span {{ username }}
    
    span.wallet-total(ng-show="balance")
      include ./../icons/dollar-icon
      span {{ balance | number }} pts &nbsp;&nbsp;
      span {{ tokens | number }} tks
