.row(ng-init="getPortfolio()")
  .empty-state(ng-hide="portfolio.length > 0")
    include ./../icons/empty-state-portfolio
    
    h2 You don't have any shares yet
    a(href="#/market/shares" class="btn btn-success") Buy shares
  
  .col-md-6(ng-repeat="trade in portfolio" ng-hide="portfolio.length === 0")
    article.market-item
      header.market-item-header
        h2.market-item-header__title {{ trade.stock }}
      
      section.market-item-body
        chartist(class="ct-chart ct-golden-section" chartist-data="trade.chartData" chartist-chart-type="Line" chartist-chart-options="chartOptions" chartist-responsive-options="barResponsiveOptions" ng-if="responseReceived")
        
      footer.market-item-footer
        ul.market-item-controls
          li.market-item-spaces.market-item-spaces--portfolio
            span.market-item-spaces__title Amount
            label.market-item-spaces__info {{ trade.amount | number }}

          li.market-item-spaces.market-item-spaces--portfolio
            span.market-item-spaces__title Purchase Price
            label.market-item-spaces__info {{ trade.purchasePrice | number }}

          li.market-item-spaces.market-item-spaces--portfolio
            span.market-item-spaces__title Current Price
            label.market-item-spaces__info {{ trade.currentPrice | number }}
              
          li.market-item-spaces.market-item-spaces--portfolio
            span.market-item-spaces__title Total
            label.market-item-spaces__info {{ trade.currentPrice * trade.amount | number }}

        button.btn.btn-success.btn-block(ng-click="sellShare(trade)" ng-disabled="stockBtn") Sell for {{ trade.currentPrice * trade.amount | number }}
