.row
  .col-md-4(ng-repeat="share in stocks")
    article.share
      header.share-header
        h2 {{ share.name}}
      
      section.share-body
        chartist(class="ct-chart ct-golden-section" chartist-data="share.chartData" chartist-chart-type="Line" chartist-chart-options="chartOptions" chartist-responsive-options="barResponsiveOptions")

      footer.share-footer
        ul.share-controls
          li
            span Amount
            input(type="number" ng-model="shareAmount" ng-init="shareAmount = 1")

          li
            span Price
            label {{ share.price }}

          li
            span Variation
            label {{ share.variation }}

          li
            span Total
            label {{ share.price * shareAmount }}

        button.btn.btn-success.btn-block(ng-click="buyShare(share.name, shareAmount)") Buy Share
