nav.subheader
  .container-fluid
    ul
      li.subheader-item
        a(href="#/")
          include ./../icons/dashboard-icon
          span Dashboard

      li.subheader-item
        a(href="#/market")
          include ./../icons/market-icon
          span Market

      li.subheader-item
        a(href="#/wallet")
          include ./../icons/wallet-icon
          span Wallet

      li.subheader-item
        a(href="#/shop")
          include ./../icons/shop-icon
          span Shop

      li.subheader-item
        a(href="#/ranking")
          include ./../icons/ranking-icon
          span Ranking

      li.subheader-item
        a(href="#/tournaments")
          include ./../icons/tournaments-icon
          span Tournaments