nav.subheader
  .container-fluid
    ul
      li.subheader-item
        a(href="")
          include ./../icons/dashboard-icon
          span Dashboard

      li.subheader-item
        a(href="")
          include ./../icons/wallet-icon
          span Wallet

      li.subheader-item
        a(href="")
          include ./../icons/shop-icon
          span Shop

      li.subheader-item
        a(href="")
          include ./../icons/ranking-icon
          span Ranking